/* ===== Google Font ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Work+Sans:wght@400;500;600&display=swap");

/* ===== Common ===== */
body {
    font-family: "Work Sans", sans-serif;
}

/* ===== AI ===== */
#ai #ai-area {
    grid-template-columns: repeat(3, 1fr);
}

#ai #trigger-modal {
    background-color: rgba(235, 87, 87, 0.1);
    width: 2rem;
    height: 2rem;
}

#ai #trigger-modal i {
    color: #EB5757;
}

/* ===== Media Query ===== */
@media screen and (max-width: 991px) {
    /* ===== AI ===== */
    #ai #ai-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    /* ===== AI ===== */
    #ai #ai-area {
        grid-template-columns: repeat(1, 1fr);
    }
}