/* ===== Google Font ===== */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

/* ===== Common ===== */
body {
    font-family: "Work Sans", sans-serif;
}

/* ===== AI ===== */
#ai #ai-area {
    grid-template-columns: repeat(3, 1fr);
}

#ai #trigger-modal {
    background-color: rgba(235, 87, 87, 0.1);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#ai #trigger-modal i {
    color: #EB5757;
}

/* ===== AI Tool Modal ===== */
#ai-tool-modal .md-close {
    background-color: #EB5757;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.ai-tool-modal {
    grid-template-columns: 2fr 1fr;
}

.ai-tool-modal .first-card {
    background-color: rgba(235, 87, 87, 0.05);
    border-color: #EB5757 !important;
}

/* ===== Media Query ===== */
@media screen and (max-width: 991px) {
    /* ===== AI ===== */
    #ai #ai-area {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ===== AI Tool Modal ===== */
    .ai-tool-modal {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 767px) {
    /* ===== AI ===== */
    #ai #ai-area {
        grid-template-columns: repeat(1, 1fr);
    }
}